# Data Wrangling
- load data
- QC (*especially* missing data...)
- `group_by()` and `value_counts()` 'he said, "omg"'
- subsetting (mostly means boolean selection)
- adding columns
- sorting

In [7]:
! ls ../../

STA130_F23_AfternoonClass_CodingDemoLecture_DataWrangling.ipynb

In [1]:
import pandas as pd
pd.read_csv("../../amazonbooks.csv", encoding="ISO-8859-1")

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192.0,HarperCollins,2004.0,60572345,9.3,6.6,1.1,24.0
321,White Privilege,Paula S. Rothenberg,27.55,27.55,P,160.0,Worth Publishers,2011.0,1429233443,9.1,6.1,0.7,8.0
322,Why I wore lipstick,Geralyn Lucas,12.95,5.18,P,224.0,St Martin's Griffin,2005.0,031233446X,8.0,5.4,0.7,6.4
323,"Worlds Together, Worlds Apart: A History of th...",Robert Tignor,97.50,97.50,P,480.0,W. W. Norton & Company,2010.0,393934942,10.7,8.9,0.9,14.4
324,Wuthering Heights,Emily Bronte,16.99,4.95,P,344.0,CreatSpace,2011.0,1463533411,7.8,5.1,1.0,16.0

In [2]:
ab = pd.read_csv("../../amazonbooks.csv", encoding="ISO-8859-1")
ab.shape

(325, 13)

In [11]:
ab.describe()

,List Price,Amazon Price,NumPages,Pub year,Height,Width,Thick,Weight_oz
count,324.000000,325.000000,323.000000,324.000000,321.000000,320.000000,324.000000,316.000000
mean,18.579753,13.333846,335.857585,2002.206790,8.163240,5.585000,0.907716,12.487975
std,14.252829,13.727679,161.984389,10.629002,0.918739,0.874057,0.368625,6.644648
min,1.500000,0.770000,24.000000,1936.000000,5.100000,4.100000,0.100000,1.200000
25%,13.950000,8.600000,208.000000,1998.000000,7.900000,5.200000,0.600000,7.800000
50%,15.000000,10.200000,320.000000,2005.000000,8.100000,5.400000,0.900000,11.200000
75%,19.950000,13.130000,416.000000,2010.000000,8.500000,5.900000,1.100000,16.000000
max,139.950000,139.950000,896.000000,2011.000000,12.100000,9.500000,2.100000,35.200000

In [12]:
# NaN, missing values
ab.isnull() # method / function
#ab.shape # attributes

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,False,False,False,False,False,False,False,False,False,False,False,False,False
321,False,False,False,False,False,False,False,False,False,False,False,False,False
322,False,False,False,False,False,False,False,False,False,False,False,False,False
323,False,False,False,False,False,False,False,False,False,False,False,False,False
324,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
ab.isnull().sum() # coercion

Title            0
Author           1
List Price       1
Amazon Price     0
Hard_or_Paper    0
NumPages         2
Publisher        1
Pub year         1
ISBN-10          0
Height           4
Width            5
Thick            1
Weight_oz        9
dtype: int64

In [14]:
ab.dtypes

Title             object
Author            object
List Price       float64
Amazon Price     float64
Hard_or_Paper     object
NumPages         float64
Publisher         object
Pub year         float64
ISBN-10           object
Height           float64
Width            float64
Thick            float64
Weight_oz        float64
dtype: object

In [15]:
# pd.Series
ab.NumPages

0      304.0
1      273.0
2       96.0
3      672.0
4      720.0
       ...
320    192.0
321    160.0
322    224.0
323    480.0
324    344.0
Name: NumPages, Length: 325, dtype: float64

In [21]:
ab.dropna().isnull().sum()
ab.isnull().sum()

Title            0
Author           1
List Price       1
Amazon Price     0
Hard_or_Paper    0
NumPages         2
Publisher        1
Pub year         1
ISBN-10          0
Height           4
Width            5
Thick            1
Weight_oz        9
dtype: int64

In [26]:
ab_non_nan = ab.dropna()#.isnull()

In [28]:
ab_non_nan

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010.0,1605506249,7.8,5.5,0.8,11.2
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008.0,1416564195,8.4,5.5,0.7,7.2
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995.0,486285537,8.3,5.2,0.3,4.0
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008.0,61564893,8.8,6.0,1.6,28.8
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011.0,307265722,8.0,5.2,1.4,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192.0,HarperCollins,2004.0,60572345,9.3,6.6,1.1,24.0
321,White Privilege,Paula S. Rothenberg,27.55,27.55,P,160.0,Worth Publishers,2011.0,1429233443,9.1,6.1,0.7,8.0
322,Why I wore lipstick,Geralyn Lucas,12.95,5.18,P,224.0,St Martin's Griffin,2005.0,031233446X,8.0,5.4,0.7,6.4
323,"Worlds Together, Worlds Apart: A History of th...",Robert Tignor,97.50,97.50,P,480.0,W. W. Norton & Company,2010.0,393934942,10.7,8.9,0.9,14.4
324,Wuthering Heights,Emily Bronte,16.99,4.95,P,344.0,CreatSpace,2011.0,1463533411,7.8,5.1,1.0,16.0

In [30]:
ab_non_nan['Pub year'] = ab_non_nan['Pub year'].astype(int)

/tmp/ipykernel_271/3780823575.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_non_nan['Pub year'] = ab_non_nan['Pub year'].astype(int)

In [31]:
ab_non_nan.dtypes

Title             object
Author            object
List Price       float64
Amazon Price     float64
Hard_or_Paper     object
NumPages         float64
Publisher         object
Pub year           int64
ISBN-10           object
Height           float64
Width            float64
Thick            float64
Weight_oz        float64
dtype: object

In [33]:
ab_non_nan['is_paper'] = (ab_non_nan.Hard_or_Paper=='P')
ab_non_nan.dtypes

/tmp/ipykernel_271/3015564224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_non_nan['is_paper'] = (ab_non_nan.Hard_or_Paper=='P')

Title             object
Author            object
List Price       float64
Amazon Price     float64
Hard_or_Paper     object
NumPages         float64
Publisher         object
Pub year           int64
ISBN-10           object
Height           float64
Width            float64
Thick            float64
Weight_oz        float64
is_paper            bool
dtype: object

In [35]:
ab_non_nan.Hard_or_Paper = ab_non_nan['Hard_or_Paper'].astype("category")
ab_non_nan.dtypes

/tmp/ipykernel_271/3818351023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab_non_nan.Hard_or_Paper = ab_non_nan['Hard_or_Paper'].astype("category")

Title              object
Author             object
List Price        float64
Amazon Price      float64
Hard_or_Paper    category
NumPages          float64
Publisher          object
Pub year            int64
ISBN-10            object
Height            float64
Width             float64
Thick             float64
Weight_oz         float64
is_paper             bool
dtype: object

In [36]:
ab_non_nan.groupby("Hard_or_Paper")

In [40]:
ab_non_nan.groupby("Hard_or_Paper").mean(numeric_only=True)

,List Price,Amazon Price,NumPages,Pub year,Height,Width,Thick,Weight_oz,is_paper
Hard_or_Paper,,,,,,,,,
H,20.203462,12.962821,321.128205,2002.435897,8.378205,5.879487,1.083333,15.876923,0.0
P,17.171681,12.461509,333.754310,2001.900862,8.047845,5.443966,0.825000,11.268103,1.0

In [42]:
ab_non_nan.is_paper.mean()

0.7483870967741936

In [41]:
ab_non_nan.groupby("Hard_or_Paper").sum()

/tmp/ipykernel_271/2959404011.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ab_non_nan.groupby("Hard_or_Paper").sum()

,List Price,Amazon Price,NumPages,Pub year,Height,Width,Thick,Weight_oz,is_paper
Hard_or_Paper,,,,,,,,,
H,1575.87,1011.10,25048.0,156190,653.5,458.6,84.5,1238.4,0
P,3983.83,2891.07,77431.0,464441,1867.1,1263.0,191.4,2614.2,232

In [54]:
ab_non_nan[['NumPages','Thick','Weight_oz','Hard_or_Paper']].groupby('Hard_or_Paper').max()

               NumPages  Thick  Weight_oz
Hard_or_Paper
H                 880.0    2.0       35.2
P                 896.0    1.8       32.0

In [55]:
ab_non_nan.groupby('Hard_or_Paper').size()

Hard_or_Paper
H     78
P    232
dtype: int64

In [58]:
ab_non_nan.groupby('Hard_or_Paper').count()

,Title,Author,List Price,Amazon Price,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz,is_paper
Hard_or_Paper,,,,,,,,,,,,,
H,78,78,78,78,78,78,78,78,78,78,78,78,78
P,232,232,232,232,232,232,232,232,232,232,232,232,232

In [56]:
ab.groupby('Hard_or_Paper').size()

Hard_or_Paper
H     89
P    236
dtype: int64

In [57]:
ab.groupby('Hard_or_Paper').count()

,Title,Author,List Price,Amazon Price,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz
Hard_or_Paper,,,,,,,,,,,,
H,89,89,89,89,87,89,89,89,85,85,88,80
P,236,235,235,236,236,235,235,236,236,235,236,236

In [64]:
ab.groupby('Hard_or_Paper').quantile(.04)
#ab.groupby('Hard_or_Paper').percentile(4)

/tmp/ipykernel_271/4108506347.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.quantile is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ab.groupby('Hard_or_Paper').quantile(.04)

,List Price,Amazon Price,NumPages,Pub year,Height,Width,Thick,Weight_oz
Hard_or_Paper,,,,,,,,
H,7.95,7.950,41.68,1965.56,5.8,4.336,0.448,3.328
P,6.95,5.914,128.00,1987.00,6.7,4.200,0.400,4.000

In [65]:
ab_non_nan['Pub year'].value_counts()

2011    48
2010    39
2009    19
2006    18
2004    16
2008    15
1999    13
2002    12
2003    12
2005    11
2007    11
1993     9
2001     9
1995     7
2000     7
1996     7
1998     7
1989     6
1997     6
1990     5
1994     5
1991     4
1992     4
1987     3
1964     2
1963     2
1988     2
1982     2
1979     1
1985     1
1976     1
1957     1
1965     1
1955     1
1967     1
1959     1
1936     1
Name: Pub year, dtype: int64

In [66]:
# not like this: ab_non_nan['NumPages','Thick','Weight_oz','Hard_or_Paper']
ab_non_nan[['NumPages','Thick','Weight_oz','Hard_or_Paper']]

     NumPages  Thick  Weight_oz Hard_or_Paper
0       304.0    0.8       11.2             P
1       273.0    0.7        7.2             P
2        96.0    0.3        4.0             P
3       672.0    1.6       28.8             P
4       720.0    1.4       22.4             P
..        ...    ...        ...           ...
320     192.0    1.1       24.0             H
321     160.0    0.7        8.0             P
322     224.0    0.7        6.4             P
323     480.0    0.9       14.4             P
324     344.0    1.0       16.0             P

[310 rows x 4 columns]

In [68]:
ab_non_nan.head(4)

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz,is_paper
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010,1605506249,7.8,5.5,0.8,11.2,True
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008,1416564195,8.4,5.5,0.7,7.2,True
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995,486285537,8.3,5.2,0.3,4.0,True
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008,61564893,8.8,6.0,1.6,28.8,True

In [70]:
ab_non_nan[:4]
ab_non_nan[0:4]

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz,is_paper
0,"1,001 Facts that Will Scare the S#*t Out of Yo...",Cary McNeal,12.95,5.18,P,304.0,Adams Media,2010,1605506249,7.8,5.5,0.8,11.2,True
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008,1416564195,8.4,5.5,0.7,7.2,True
2,100 Best-Loved Poems (Dover Thrift Editions),Smith,1.50,1.50,P,96.0,Dover Publications,1995,486285537,8.3,5.2,0.3,4.0,True
3,1421: The Year China Discovered America,Gavin Menzies,15.99,10.87,P,672.0,Harper Perennial,2008,61564893,8.8,6.0,1.6,28.8,True

In [71]:
ab_non_nan[4:10]

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz,is_paper
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011,307265722,8.0,5.2,1.4,22.4,True
5,1861: The Civil War Awakening,Adam Goodheart,28.95,16.44,H,460.0,Knopf,2011,1400040159,8.9,6.3,1.7,32.0,False
6,A Christmas Carol and Other Christmas Writings...,Dickens,20.00,13.46,H,336.0,Penguin Classics Hardcover,2010,141195851,7.8,5.3,1.2,15.5,False
7,A Confederacy of Dunces,John Kennedy Toole,15.00,8.44,P,405.0,Grove Weidenfeld,1987,802130208,8.2,5.3,0.8,11.2,True
9,A Farewell To Arms,Ernest Hemingway,30.00,19.80,H,304.0,Scribner,1997,684837889,9.6,6.4,1.1,19.2,False
10,A Fine Balance,Rohinton Mistry,17.00,8.97,P,624.0,Vintage,2001,140003065X,7.7,5.1,1.7,16.2,True

In [75]:
ab_non_nan.iloc[[1,4,7,11]]

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz,is_paper
1,21: Bringing Down the House - Movie Tie-In: Th...,Ben Mezrich,15.00,10.20,P,273.0,Free Press,2008,1416564195,8.4,5.5,0.7,7.2,True
4,1493: Uncovering the New World Columbus Created,Charles C. Mann,30.50,16.77,P,720.0,Knopf,2011,307265722,8.0,5.2,1.4,22.4,True
7,A Confederacy of Dunces,John Kennedy Toole,15.00,8.44,P,405.0,Grove Weidenfeld,1987,802130208,8.2,5.3,0.8,11.2,True
12,A Guide to the Good Life: The Ancient Art of S...,William B. Irvine,19.95,13.57,H,336.0,Oxford University Press,2008,195374614,7.0,5.3,1.3,14.9,False

In [76]:
ab_non_nan.iloc[[1,4,7,11],[0,3]]

                                                Title  Amazon Price
1   21: Bringing Down the House - Movie Tie-In: Th...         10.20
4     1493: Uncovering the New World Columbus Created         16.77
7                             A Confederacy of Dunces          8.44
12  A Guide to the Good Life: The Ancient Art of S...         13.57

In [80]:
ab_non_nan.loc[[1,4,7,11], ['Title','Amazon Price']]
ab_non_nan.loc[:4, ['Title','Amazon Price']]
ab_non_nan.loc[ab_non_nan.Hard_or_Paper=='H', ['Title','Amazon Price']]

                                                 Title  Amazon Price
5                       1861:  The Civil War Awakening         16.44
6    A Christmas Carol and Other Christmas Writings...         13.46
9                                   A Farewell To Arms         19.80
12   A Guide to the Good Life: The Ancient Art of S...         13.57
15                                A Light in the Attic         11.58
..                                                 ...           ...
306  To End All Wars: A Story of Loyalty and Rebell...         16.08
307                              To Kill a Mockingbird         23.10
313                                 Unaccustomed Earth         10.00
314                                           Unbroken         13.49
320                            Where the Sidewalk Ends         12.24

[78 rows x 2 columns]

In [84]:
ab_non_nan.loc[:4, 'Title','Amazon Price']

IndexingError: Too many indexers

In [83]:
ab_non_nan[ab_non_nan.Hard_or_Paper=='H']

,Title,Author,List Price,Amazon Price,Hard_or_Paper,NumPages,Publisher,Pub year,ISBN-10,Height,Width,Thick,Weight_oz,is_paper
5,1861: The Civil War Awakening,Adam Goodheart,28.95,16.44,H,460.0,Knopf,2011,1400040159,8.9,6.3,1.7,32.0,False
6,A Christmas Carol and Other Christmas Writings...,Dickens,20.00,13.46,H,336.0,Penguin Classics Hardcover,2010,141195851,7.8,5.3,1.2,15.5,False
9,A Farewell To Arms,Ernest Hemingway,30.00,19.80,H,304.0,Scribner,1997,684837889,9.6,6.4,1.1,19.2,False
12,A Guide to the Good Life: The Ancient Art of S...,William B. Irvine,19.95,13.57,H,336.0,Oxford University Press,2008,195374614,7.0,5.3,1.3,14.9,False
15,A Light in the Attic,Shel Silverstein,18.99,11.58,H,192.0,HarperCollins,2009,61905852,8.8,6.8,1.0,25.6,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,To End All Wars: A Story of Loyalty and Rebell...,Adam Hochschild,28.00,16.08,H,480.0,Houghton Mifflin Harcourt,2011,618758283,9.1,6.2,1.7,25.6,False
307,To Kill a Mockingbird,Harper Lee,35.00,23.10,H,336.0,HarperCollins,2006,61205699,8.9,6.1,1.3,17.6,False
313,Unaccustomed Earth,Lahiri,25.00,10.00,H,352.0,Knopf,2008,307265730,8.5,5.9,1.4,20.8,False
314,Unbroken,Laura Hillenbrand,27.00,13.49,H,496.0,Random House,2010,1400064163,9.4,6.3,1.7,28.0,False
320,Where the Sidewalk Ends,Shel Silverstein,18.99,12.24,H,192.0,HarperCollins,2004,60572345,9.3,6.6,1.1,24.0,False

In [91]:
ab_non_nan[(ab_non_nan.NumPages<50) & (ab_non_nan.NumPages>400)]
ab_non_nan.loc[(ab_non_nan.NumPages<50) | (ab_non_nan.NumPages>400), ['Author','Title']]

                 Author                                              Title
3         Gavin Menzies            1421: The Year China Discovered America
4       Charles C. Mann    1493: Uncovering the New World Columbus Created
5        Adam Goodheart                     1861:  The Civil War Awakening
7    John Kennedy Toole                            A Confederacy of Dunces
10      Rohinton Mistry                                     A Fine Balance
..                  ...                                                ...
299      Wilkie Collins                                 The Woman in White
306     Adam Hochschild  To End All Wars: A Story of Loyalty and Rebell...
308            Grossman     To the End of the Land (Vintage International)
314   Laura Hillenbrand                                           Unbroken
323       Robert Tignor  Worlds Together, Worlds Apart: A History of th...

[83 rows x 2 columns]

In [87]:
True or False

True

In [89]:
ab_non_nan[(ab_non_nan.NumPages<50) || (ab_non_nan.NumPages>400)]

SyntaxError: invalid syntax (2716956119.py, line 1)

In [88]:
ab_non_nan[(ab_non_nan.NumPages<50) and (ab_non_nan.NumPages>400)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [96]:
ab_non_nan.loc[(ab_non_nan.NumPages<50) | (ab_non_nan.NumPages>400), ['Author','Title','List Price','Pub year']].sort_values(['Pub year', 'List Price'], ascending=False)

KeyError: 'Pub year'